<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Perfil</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img class="perfil"src="assets/icon/photo.png" />
        <ion-card-header>
          <ion-card-subtitle>Currículum Vitae</ion-card-subtitle>
          <ion-card-title>Wendy Soto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Hola, mi nombre es Wendy Soto, soy estudiante de la carrera de Análisis de Sistemas Informaticos de la Escuela de Formácion de Tecnólogos.
         Tengo 23 años y vivo en Quito.
       
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
