<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Estudios
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Avatar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list-header>Primaria</ion-list-header>
    <ion-chip class="ion-margin-start">
      <ion-avatar>
        <img src="assets/icon/image/col.jpg">
      </ion-avatar>
      <ion-label>UE Gonzol</ion-label>
    </ion-chip>
    
    <ion-list-header>Secundaria</ion-list-header>
    <ion-chip class="ion-margin-start">
      <ion-avatar>
        <img src="assets/icon/image/EPN.png">
      </ion-avatar>
      <ion-label>Escuela Politécnica Nacional</ion-label>
    </ion-chip>

    <ion-list>
      <ion-list-header>Cursos</ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/image/cec.png">
        </ion-avatar>
        <ion-label>
          <h3>Centro de Ecucación Contínua</h3>
          <p>B1 Idioma Inglés</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/image/cursera.jpeg">
        </ion-avatar>
        <ion-label>
          <h3>Cursera</h3>
          <p>Gestión de Proyectos</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/icon/image/cisco.png">
        </ion-avatar>
        <ion-label>
          <ion-label>
            <h3>Cisco</h3>
            <p>Cyberseguridad</p>
          </ion-label>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          <img src="assets/icon/image/scrum.png">
        </ion-avatar>
        <ion-label>Metodología Scrum</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          <img src="assets/icon/image/empleo.jpg">
        </ion-avatar>
        <ion-label>
          <h3>F. Juan Carlos</h3>
          <p>POO</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          <img src="assets/icon/image/fortinet.jpg">
        </ion-avatar>
        <ion-label>
          <h3>Fortinet</h3>
          <p>NS1, NS2</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="end">
          <img src="assets/icon/image/esfot.png">
        </ion-avatar>
        <ion-label>
          <h3>Seminario</h3>
          <p>Jornadas Tecnológicas</p>          
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list-header>Conocimientos</ion-list-header>
          <p>
        <ion-chip outline color="primary">
          <ion-icon name="code-working"></ion-icon>
          <ion-label>POO</ion-label>
        
        </ion-chip>
        <ion-chip outline color="secondary">
          <ion-icon name="logo-python"></ion-icon> 
          <ion-label>Python</ion-label>
         
        </ion-chip>
        <ion-chip outline color="tertiary">
          <ion-icon name="code"></ion-icon>
          <ion-label>PHP</ion-label>         
        </ion-chip>
        <ion-chip outline color="danger">
          <ion-icon name="logo-javascript"></ion-icon>
          <ion-label>Java Script</ion-label>         
        </ion-chip>

        <ion-chip outline color="primary">
          <ion-icon name="logo-react"></ion-icon>
          <ion-label>React</ion-label>          
        </ion-chip>
       
        <ion-chip outline color="warning">
          <ion-icon name="logo-html5"></ion-icon>
          <ion-label>Html5</ion-label>          
        </ion-chip>
        
        <ion-label>
          <h2>Bases de Datos</h2>
             
        </ion-label>
        <ion-chip outline color="primary">
          <ion-icon name="pin"></ion-icon>
          <ion-label>SQL server</ion-label>
        
        </ion-chip>
        <ion-chip outline color="secondary">
          <ion-icon name="cloud-outline"></ion-icon>
          <ion-label>My SQL</ion-label>
         
        </ion-chip>
        <ion-chip outline color="success">
          <ion-icon name="bookmark"></ion-icon>
          <ion-label>Postgres</ion-label>         
        </ion-chip>
        <ion-chip outline color="dark">
          <ion-icon name="cloud-done"></ion-icon>
          <ion-label>Oracle</ion-label>          
        </ion-chip>
        <ion-chip outline color="Medium">
          <ion-icon name="analytics-outline"></ion-icon>
          <ion-label>Mongo</ion-label>          
        </ion-chip>
        <ion-chip outline color="danger">
          <ion-icon name="logo-firebase"></ion-icon>
          <ion-label>Firebase</ion-label>          
        </ion-chip>
        
      </p>
  </ion-content>
</ion-app>
