<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img class="perfil"src="assets/icon/photo.png" />
        <ion-card-header>
          <ion-card-subtitle>Currículum Vitae</ion-card-subtitle>
          <ion-card-title>Wendy Soto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Hola, éste es mi curriculum Vitae, te invito a que lo leeas y conoscan un poco sobre mi. 
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
